body {
    padding-left: 25%;
    padding-right: 25%;
    background-color: #faebd7;
    font-size: large;
    font-family: 'Figtree';
}

#table-invisible {
    border: 0px;
    border-color: #00000000;
}