body {
    margin-left: 25%;
    margin-right: 25%;
    background-color: #faebd7;
    font-size: large;
    font-family: 'Figtree';
}

footer {
    background-color: darkslateblue;
    color: lightcyan;
    align-items: center;
    display: flex;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

th {
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

image {
    padding: 3px;
}

figcaption {
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

figure {
    border: thin silver solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    align-content: center;
}

#table-invisible {
    border: 0px;
    border-color: #00000000;
}

#table-invisible, image {
    max-height: 250px;
}