:root {
    --primary-background-color: #ffe1be;
    --second-background-color: #f8a95a;
    --highligh-color: #7F95D1;
    --text-color: #0D0D0D;
}

body {
    padding-top: 12.5%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: var(--primary-background-color);
    font-size: large;
    font-family: 'Figtree';
    overflow-x: hidden;
    color: var(--text-color);
}

p {
    text-indent: 2em;
    padding-right: 3em;
    padding-left: 3em;
}

#footer {
    background-color: var(--text-color);
    color: var(--highligh-color);
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0px;
    margin-bottom: -20px;
    margin-left: -50%;
}

header {
    background-color: var(--second-background-color);
    height: 10%;
    display: flex;
    position: sticky;
    top: 0;
}

th {
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

image {
    padding: 3px;
}

figcaption {
    background-color: var(--highligh-color);
    color: var(--text-color);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

figure {
    border: thin var(--highligh-color) solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    align-content: center;
    vertical-align: middle;
}

#table-invisible {
    border: 0px;
    border-color: var(--text-color);
}

#table-invisible, image {
    max-height: 250px;
}

#logo-text {
    font-family: "Merienda";
}