body {
    margin-left: 25%;
    margin-right: 25%;
    background-color: #faebd7;
    font-size: large;
    font-family: 'Figtree';
    overflow-x: hidden;
}

p {
    text-indent: 2em;
    padding-right: 3em;
    padding-left: 3em;
}

#footer {
    background-color: hsl(248, 39%, 20%);
    color: hsl(248, 39%, 50%);
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0px;
    margin-bottom: -20px;
    margin-left: -50%;
}

th {
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

image {
    padding: 3px;
}

figcaption {
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

figure {
    border: thin silver solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    align-content: center;
    vertical-align: middle;
}

#table-invisible {
    border: 0px;
    border-color: #00000000;
}

#table-invisible, image {
    max-height: 250px;
}