body {
    padding-left: 25%;
    padding-right: 25%;
    background-color: #faebd7;
    font-size: large;
    font-family: 'Figtree';
}

#main-itch-text {
    width: 75%;
}
#main-itch-io {
    width: 25%;
}