body {
    margin-left: 25%;
    margin-right: 25%;
    background-color: #faebd7;
    font-size: large;
    font-family: 'Figtree';
}

footer {
    margin-left: 0px;
    margin-right: 0px;
    background-color: darkslateblue;
    color: lightcyan;
    align-items: center;
    padding: 50px;
}

image {
    width: auto;
    height: auto;
}

#table-invisible {
    border: 0px;
    border-color: #00000000;
}