body {
    margin-left: 25%;
    margin-right: 25%;
    background-color: #faebd7;
    font-size: large;
    font-family: 'Figtree';
}

image {
    width: auto;
    height: auto;
}

#table-invisible {
    border: 0px;
    border-color: #00000000;
}

#table-invisible-r {
    
}